### Write a Python program to find sum of elements in list.

In [5]:
l = []
sum = 0
size = int(input("Enter the size of the list : "))
print("Enter data : ")
for i in range(0,size):
    data = int(input())
    l.append(data)
for i in range(0,size):
    sum = sum+l[i]
print("Sum is :", sum)

Enter the size of the list : 5
Enter data :
1231
324
213
453
56
Sum is : 2277

### Write a Python program to Multiply all numbers in the list.

In [7]:
l = [1,2,3,4,5,6,7,8,9,10]
prod = 1
for i in range(0,len(l)):
    prod = prod * l[i]
print("Product of all element of list : ",prod)

Product of all element of list :  3628800

### Write a Python program to find smallest number in a list?

In [15]:
l1 = [3,423,423,4,324,3,54,-1,6,456,23,76,8,69,879,789,87,9,78]
print(min(l1))
## without function
small = l[0]
for i in range(1,len(l1)):
    if(l1[i] < small):
        small = l1[i]
print("Smallest is : ",small)

-1
Smallest is :  -1

### Write a Python program to find largest number in a list.

In [17]:
l2 = [324,234,23,34,5,456,57456,7,4567,42,34,32,4,35,34,5]
lar = l[0]
for i in range(1,len(l2)):
    if l2[i] > lar:
        lar = l2[i]
print("Largest is : ",lar)

Largest is :  57456

### Write a Python program to find second largest number in a list.

In [24]:
l3 = [3241,32,4,3145,324,5,436,45,6,57,67,4,56,34,56,54,75,6324,6324]
l3.sort()
l4 = []
for i in range(0,len(l3)):
    if l3[i] not in l4:
        l4.append(l3[i])
print("Second largest is : ",l4[len(l4)-2])

Second largest is :  3241

### Write a Python program to find N largest elements from a list.

In [29]:
n = int(input("Enter the n largest element you want : "))
l5 = [3241,32,4,3145,324,5,436,45,6,57,67,4,56,34,56,54,75,6324,6324]
l5.sort()
l6 = []
for i in range(0,len(l5)):
    if l5[i] not in l6:
        l6.append(l5[i])
print("List of unique data : ",l6)
print("Second largest is : ",l6[len(l6)-n])

Enter the n largest element you want : 8
List of unique data :  [4, 5, 6, 32, 34, 45, 54, 56, 57, 67, 75, 324, 436, 3145, 3241, 6324]
Second largest is :  57

### Write a Python program to print even numbers in a list.

In [32]:
list1 = [2324,345,452345,4,546,5,7,56,7,678,76,8,435,34,5,45,6,567,65]
list2 = []
for i in range(0,len(list1)):
    if list1[i] % 2 == 0:
        list2.append(list1[i])
print("Even numbers are : ",list2)

Even numbers are :  [2324, 4, 546, 56, 678, 76, 8, 34, 6]

### Write a Python program to print odd numbers in a List.

In [33]:
list3 = [2324,345,452345,4,546,5,7,56,7,678,76,8,435,34,5,45,6,567,65]
list4 = []
for i in range(0,len(list3)):
    if list3[i] % 2 != 0:
        list4.append(list3[i])
print("Even numbers are : ",list4)

Even numbers are :  [345, 452345, 5, 7, 7, 435, 5, 45, 567, 65]

### Write a Python program to Remove empty List from List.

In [57]:
lista = [[234,23,4,324],[],['array',3234],[],34234,[],'hello']
listb = lista
print(len(lista))   
data1 = [m for m in lista if m!= []]    
       
print("List is : ",data1)

7
List is :  [[234, 23, 4, 324], ['array', 3234], 34234, 'hello']

### Write a Python program to Cloning or Copying a list.

In [60]:
f = [234,23,4,234,23,432,4,234,345,43]
op = f
print("original : ",f)
print("copied : ",op)

original :  [234, 23, 4, 234, 23, 432, 4, 234, 345, 43]
copied :  [234, 23, 4, 234, 23, 432, 4, 234, 345, 43]

### Write a Python program to Count occurrences of an element in a list.

In [66]:
l = [1,2,3,4,5,1,2,3,3,4,4,2,3,2,2,3,3,1,3,4,6,6,7,7,8,5,4,4,4]
count = 0
ele = int(input("Enter element : "))
l.sort()
for i in range(0,len(l)):
    if(l[i] == ele):
        count = count + 1
print("Number",ele,"occured",count,"times")

Enter element : 4
Number 4 occured 7 times